<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Categorias</title>
    <link rel="stylesheet" href="../statics/css/categorias.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="contenedor row no-gutters">
      <div
        class="menu col-3 d-flex flex-column align-items-center justify-content"
      >
        <div
          class="logo position-relative d-flex flex-row align-items-center w-75 mt-4"
        >
          <a href="./inicio.html">
            <img src="../statics/img/logo.png" alt="" class="logo ml-3 mr-2" />
            <img src="../statics/img/animeyabu.png" alt="" class="nombre" />
          </a>
        </div>
        <div class="d-flex flex-column align-items-center mt-5 mb-5">
          <h4 class="seccion">Categorias</h4>
          <ul>
            <li><a href="./categorias.html">ver todas</a></li>
            <li><a href="./crear.html">crear</a></li>
          </ul>
        </div>
        <div class="">
          <h4><a href="../index.html" class="cerrar">Cerrar Sesión</a></h4>
        </div>
      </div>
      <div class="inicio col">
        <div class="d-flex flex-column mt-5 c-categorias">
          <div class="d-flex flex-column mt-5 ml-5">
            <span class="nombre-Usuario mb-5"><b>Lista de Categorías</b></span>
          </div>
          <div class="w-100 ml-5 mt-1 row">
            <div class="boton mb-5 col-3 mr-4 ml-4 position-relative">
              Acción
              <a href="./actualizar.html" class="position-absolute">Editar</a>
            </div>
            <div class="boton mb-5 col-3 mr-4 ml-4 position-relative">
              Aventura<a href="./actualizar.html" class="position-absolute"
                >Editar</a
              >
            </div>
            <div class="boton mb-5 col-3 mr-4 ml-4 position-relative">
              Comedia
              <a href="./actualizar.html" class="position-absolute">Editar</a>
            </div>
            <div class="boton mb-5 col-3 mr-4 ml-4 position-relative">
              Terror
              <a href="./actualizar.html" class="position-absolute">Editar</a>
            </div>
            <div class="boton mb-5 col-3 mr-4 ml-4 position-relative">
              Romance
              <a href="./actualizar.html" class="position-absolute">Editar</a>
            </div>
            <div class="boton mb-5 col-3 mr-4 ml-4 position-relative">
              Misterio<a href="./actualizar.html" class="position-absolute"
                >Editar</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
